.section_aciertos {
    grid-column: 2/8;
    grid-row: 2/3;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.section_aciertos .titulo {
    width: 15rem;
    font-size: 2rem;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 5rem;
    margin-right: 2rem;
}

.section_aciertos .lista {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media (max-width: 768px) {
    .section_aciertos {
        grid-column: 1/9;
        font-size: 2rem;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-left: 2rem ;
        width: 10rem;
    }

    .section_aciertos .titulo {
        width: 12rem;
        font-size: 1.8rem;
        margin-right: 1.5rem;
    }

    .section_aciertos .lista {
        font-size: 2.5rem;
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {
    .section_aciertos {
        grid-column: 1/9;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .section_aciertos .titulo {
        width: 10rem;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .section_aciertos .lista {
        font-size: 2rem;
        gap: 1rem;
    }
}
